body {
    background-color: lightgrey;
}

.links line {
    stroke: #aaa;
}

.nodes circle {
    pointer-events: all;
    stroke: none;
    stroke-width: 40px;
}

pre {
    outline: 1px solid #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: red;
}