{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="btn-group mt-3 mb-3" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" onclick="runQuery('get-users')">Get all users</button>
        <button type="button" class="btn btn-secondary" onclick="runQuery('get-relationships')">Get all realtionships</button>
    </div>
    <div id="JSON"></div>
</div>
<script src="/static/js/query.js" charset="utf-8"></script>
{% endblock %}